.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build
*.iml
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.aar
*.so
*.dex
*.class
*.log
*.orig
*.rej
*.swo
*.swp
*.swn
*.bak
*~
.vscode/
pyvenv.cfg
Lib/
Scripts/